@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Inter", sans-serif;
 }
 :root {
     --cinza-escuro: #1F1F1F;
     --cinza: #333333;
     --branco: #FFF;
 
     --preto: #141414;
     --neon-azul: #1299ed;
 }
 body {
     background-color: var(--preto);
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 img {
     border-radius: 50%;
     margin-bottom: 24px;
 }
 h1 {
     font-size: 24px;
     font-weight: 600;
     line-height: 150%;
     margin-bottom: 4px;
 }
 strong {
     font-size: 14px;
     line-height: 150%;
     color: var(--neon-azul);
 }
 p {
     margin-block: 24px;
     line-height: 150%;
     font-size: 14px;
 }
 div {
     background-color: var(--cinza-escuro);
     color: var(--branco);
     width: 384px;
     padding: 40px;
     border-radius: 12px;
     text-align: center;
 }
 ul, li {
     list-style: none;
 }
 a {
     text-decoration: none;
     display: block;
     color: var(--branco);
     background-color:var(--cinza);
     margin-bottom: 16px;
     padding: 12px;
     border-radius: 8px;
     font-size: 14px;
     font-weight: 700;
 }
 a:hover {
background-color: var(--neon-azul);
color: var(--cinza-escuro);
transition: .4s;
 }